/* #section{
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;

}
.img{
width: 300px;
border-radius:  50%;
border: 1px solid rgb(94, 152, 253);
}
.divcls{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(139, 149, 152);
  width: 350px;
  height: 450px;

}
.divcls:hover{
  box-shadow: -webkit-box-shadow: 1px 1px 24px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 1px 24px 0px rgba(0,0,0,0.75);
  box-shadow: 1px 1px 24px 0px rgba(0,0,0,0.75);;
}


.button{
  width: 100px;
  height: 35px;
  border-radius:5px;
  background: rgb(94, 152, 253);
  color: aliceblue;
  border: none;
} */
 






* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  background-color: #e7f6ff;
  background-size: cover;
  background-repeat: no-repeat;
}

#h1 {
 display: flex;
 flex-direction: column;
 align-items: center;
  font-size: 4em;
  color: rgb(234, 30, 16);
  letter-spacing: 10px;
  padding-bottom: 40px;
}

div {
  background-color: rgba(17, 46, 209, 0.3);
  margin-top: 40px;
  border-radius: 20px;
  height: 250px;
  animation: myAnim 2s ease 0s 1 normal forwards;
}


#input {
  width: 40em;
  height: 60px;
  border-radius: 30px;
  border: none;
  margin-left: 10px;
  margin-bottom: 30px;
  padding-left: 20px;
  
}

#button {
  cursor: pointer;
  font-size: 18px;
  height: 62px;
  width: 15em;
  border-radius: 40px;
  color: rgb(31, 26, 26);
  margin-right: 10px;
  margin-left: 10px;
}

.lishka {
  list-style: none;
  height: 60px;
  width: 50em;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-radius: 20px;
  gap: 15px;
  margin-top: 10px;
}

.buttonUp {
  height: 47px;
  width: 140px;
  border-radius: 25px;
  background-color: rgba(0, 191, 255, 0.842);
  color: white;
  cursor: pointer;
}


.buttonDe {
  height: 47px;
  width: 140px;
  border-radius: 25px;
  margin-right: 10px;
  background-color: rgba(0, 195, 255, 0.842);
  color: white;
  cursor: pointer;
}